.swiper {
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  object-fit: cover;
}

.swiper-pagination {
  position: absolute;
  bottom: 0;
}

.full-swiper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  .swiper-pagination {
    position: inherit;
    bottom: 40px;
  }

}
