@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --maincolor: #fefbf6;
    --accent: #ed7d31;
    --radius: 0.5rem;
    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;
  }
}

@layer base {
  * {
    @apply border-border;
    font-family:
      "Pretendard Variable",
      Pretendard,
      -apple-system,
      BlinkMacSystemFont,
      system-ui,
      Roboto,
      "Helvetica Neue",
      "Segoe UI",
      "Apple SD Gothic Neo",
      "Noto Sans KR",
      "Malgun Gothic",
      "Apple Color Emoji",
      "Segoe UI Emoji",
      "Segoe UI Symbol",
      sans-serif;
  }
  body {
    @apply bg-background text-foreground;
  }
  *::-webkit-scrollbar {
    display: none;
  }
}
